
<!DOCTYPE HTML>
<!--

PROYECTO INTERDISCIPLINARIO II

-->
<html>
	<head>
		<title>Detección de Leucemia por medio de imágenes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="logo"><strong>Proyecto Interdisciplinario II</strong> </a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Inicio</a></li>
					<li><a href="codigooo.html">Código</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1> Detección de Leucemia por medio de procesamiento de imágenes <br />
					Paolo Casas, Mark Morales, Lily López y Eduardo Castro </a></h1>
					<ul class="actions">
						<li><a href="#one" class="button alt scrolly big">Continuar</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<article id="one" class="post style1">
				<div class="image">
					<img src="images/p1.jpg" alt="" data-position="75% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">Introducción</a></h2>
						</header>
						<p>Esta página web cumplirá con una funcion muy importante para sus usarios.
Determinar si la persona padece o no de Leucemia. Lo único que se tiene que hacer
es introducir una imagen de las células a analizar </p>
					</div>
					<div class="postnav">
						<a href="#" class="prev disabled"><span class="icon fa-chevron-up"></span></a>
						<a href="#two" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Two -->
			<article id="two" class="post invert style1 alt">
				<div class="image">
					<img src="images/p2.jpg" width="50 px" alt="" data-position="50% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">¿QUÉ ES LA LEUCEMIA?</a></h2>
						</header>
						<p>Enfermedad de los órganos productores de la sangre que se caracteriza por la 
proliferación excesiva de leucocitos o glóbulos blancos en la sangre y en la médula ósea.</p>
						<ul class="actions">
							<li><a href="https://medlineplus.gov/spanish/ency/article/001299.htm" target="_blank" class="button alt">Leer más</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#one" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#three" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Three -->
			<article id="three" class="post style2">
				<div class="image">
					<img src="images/p3.jpg" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">¿ES IMPORTANTE UN DIÁGNOSTICO INMEDIATO?</a></h2>

						</header>
						<p>Por supuesto que sí, es una de las enfermedades que pone mas en riesgo nuestras vidas,
generalmente en los niños. Si bien no tiene cura, existen tratamientos que te ayudan a 
continuar con tu vida contidiana con normalidad. Pero para que esto resulte y se dé de la
mejor manera posible, un diagnostico inmediato es muy bienvenido en estas situaciones. Los síntomas más comunes son: 
</p>
						<ul class="actions">
							<li><a href="https://www.mayoclinic.org/es-es/diseases-conditions/leukemia/diagnosis-treatment/drc-20374378" target="_blank" class="button alt">Leer más</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#two" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#four" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Four -->
			<article id="four" class="post invert style2 alt">
				<div class="image">
					<img src="images/p4.jpg" width="20 px" alt="" data-position="60% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">¿CÚALES SON LOS SÍNTOMAS MÁS COMUNES?</a></h2>
						</header>
						<p><p><h4>- Sensación de cansancio.</p>
<p>- Debilidad.</p>
<p>- Mareo o aturdimiento.</p>
<p>- Dificultad para respirar.</p>
<p>- Piel pálida.</p>
<p>- Infecciones que no desaparecen o que recurren.</p>
<p>- Moretones (o pequeños puntos rojos o púrpura) en la piel.</p>
<p>- Sangrado, como hemorragias nasales frecuentes o graves, sangrado de encías o sangrado menstrual abundante en las mujeres.</p></p>
						<ul class="actions">
							<li><a href="https://www.cancer.org/es/cancer/leucemia-linfocitica-aguda/deteccion-diagnostico-clasificacion-por-etapas/senales-sintomas.html" target="_blank" class="button alt">Leer más</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#three" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#five" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Five -->
			<article id="five" class="post style3">
				<div class="image">
					<img src="images/p5.png" width="50px" alt="" data-position="5% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">MÉTODOS DE DIAGNÓSTICO PARA LA LEUCEMIA</a></h2>
						</header>
						<p><p><h4>- Hemograma completo y examen de células sanguínea.</p>
<p>- Citometría de flujo.</p>
<p>- Exámenes microscópicos rutinarios.</p>
<p>- Citogenética. </p>
<p>- Pruebas moleculares.</p></h4></p>
						<ul class="actions">
							<li><a href="https://www.aecc.es/es/todo-sobre-cancer/tipos-cancer/leucemias/diagnostico" target="_blank" class="button alt">Leer más</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#four" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#six" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Six -->
			<article id="six" class="post invert style3 alt">
				<div class="image">
					<img src="images/p6.jpg" width="50 px" alt="" data-position="50% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">¿EN QUÉ CONSISTE NUESTRO MÉTODO DE DIAGNÓSTICO?</a></h2>
						</header>
						<p>El diágnostico de Leucemia mediante el análisis de sangre consiste en un programa realizado
en el lenguaje de porgramación de Pyhton por alumnos de la UTEC el cual consiste en contar
en identificar y realizar un conteo del número de glóbulos blancos y el número de
glóbulos rojos, los compara y si encuentra que el número de glóbulos blancos es mayor al de los rojos
diagnostica a imagen presentada con Leucemia. Para realizar nuestro programa, este  cumple con los siguientes
pasos:</p>
<p><h4>- Leer la imagen</p>
<p>- Convertir la imagen a escala de grises </p>
<p>- Binarizar la imagen</p>
<p>- Eliminación de ruido</p>
<p>- Eliminación de manchas en la imagen</p>
<p>- </p></h4>
						<ul class="actions">
							<li><a href="" class="button alt">Inserte imagen a analizar</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#five" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#" class="scrolly next disabled"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					Proyecto Interdisciplinario II
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>