<html>
<head>
		<title>Resultado de Análisis de la Imagen</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
		<!-- Header -->
			<header id="header">
				<a href="index.html" class="logo"><strong>Proyecto Interdisciplinario II</strong> </a>
			</header>


		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1> RESULTADOS DEL ANÁLISIS </a></h1>
					<ul class="actions">
						<li><a href="#one" class="button alt scrolly big">Continuar</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<article id="one" class="post style1">
                <div class="">
                    <h3>IMAGEN PROCESADA</h3>
					<img src="{{ url_for('static', filename='img/processedImage.png') }}" alt=""/>
				</div>
            </article>

			<article id="two" class="post invert style1 alt">
            <div class="content">
					<div class="inner">
                        <p> Resultados obtenidos :</p>
                        <p> Glóbulos blancos: {{ nleucositos }}</p>
                        <p> Glóbulos rojos: {{ nrojos }}</p>
            </article>
</div>
</body>
</html>